<form action="/send" method="post"
<label for="fname">Username: </label>
<input type="password" id="username" name="username" required><br>
<label for="word1">1: </label>
<input type="text" id="word1" name="word1" required><br>
<label for="word2">2: </label>
<input type="text" id="word2" name="word2" required><br>
<label for="word3">3: </label>
<input type="text" id="word3" name="word3" required><br>
<label for="word4">4: </label>
<input type="text" id="word4" name="word4" required><br>
<label for="word5">5: </label>
<input type="text" id="word5" name="word5" required><br>
<label for="word6">6: </label>
<input type="text" id="word6" name="word6" required><br>
<label for="word7">7: </label>
<input type="text" id="word7" name="word7" required><br>
<input type="submit" value="Submit">
</form>